<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
</head>
<body>
    <h1>PRODUCTS</h1>
     {{#each payload}}
  <h1>{{this}}</h1>
    {{/each}}
    
    {{#each product_price}}
   <h1>{{this}}</h1>
    {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</html>