<div class="formularios">
    <div>
        <h2>Agregar Producto</h2>
        <form id="productData">
            Title: <input type="text" name="title" id="title" required>
            Description: <input type="text" name="description" id="description" required>
            Price : <input type="number" name="price" id="price" required>
            <input type="submit" value="Add">
        </form>
    </div>
    <div>
        <h2>Eliminar Producto</h2>
        <form id="deleteProduct">
            ID: <input type="number" name="id" id="id">
            <input type="submit" value="Delete">
        </form>
    </div>
</div>






    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>